:root{
      /*Color Palette*/
    --main-color: #E7EAEF;
    --text-color: #6D7587;
    --hover-color: #a6b1c7;
}

html {
    font-family:"Nunito";
    src: url("/Portfolio/font/Nunito-VariableFont_wght.ttf") format("truetype")

  
}

body {
    background:radial-gradient(#E7EAEF,#6D7587);
    min-height:calc(100vh - 100px);
    font-family: Nunito, sans-serif;
    color: var(--text-color);
}

a {
    color: var(--text-color);
}

a:hover {
    text-decoration: none;
}

/*Hamburger Menu on desktop devices*/

/*INVISIBLE STANDARTIZED (use display: block; to show)*/
#hamburger-menu {
    position: fixed;
    display: none; 
    width: 20%;
    min-width: 300px;
    height: 90%; 
    top: 5%;
    left: 10px;
    background-color: var(--main-color);
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.65), 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    z-index: 10;
    transition: ease-in-out 3s;
}

#hamburger-menu-exit-button {
    display:flex;
    position: relative;
    justify-content: center;
    background-color: var(--main-color);
    height:3em;
    aspect-ratio: 1/1 ;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.65), 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 10px 10px auto auto;
    z-index: 11;
}

#hamburger-menu-exit-button:hover{
    background-color: var(--hover-color);
    cursor:pointer;
}

#hamburger-menu-exit-button img{
    display:flex;
    position: relative;
    aspect-ratio: 1/1 ;
    height:calc(100%);
    margin: 0 0 0 0;
}

.hamburger-menu-button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    height:7vh;
    max-height: 100px;
    width: 80%;
    border-radius: 100em;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.65), 4px 4px 10px rgba(0, 0, 0, 0.25);
    margin: 2vh auto auto auto;
    font-size: 14px;
    z-index: 15;
}

.hamburger-menu-button:hover{
    background-color: var(--hover-color);
    cursor:pointer;
}

/*"mein Github*/
#hamburger-menu-button-6 {
    margin: 10vh auto auto auto;
}

/*Hamburger Menu on phones*/

/*INVISIBLE STANDARTIZED (use display: block; to show)*/
#hamburger-menu-phone-container {
    display:none;
}

#hamburger-menu-phone {
    position: fixed;    
    display: block;
    min-height:90%;
    width:90%;
    background-color: var(--main-color);
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.65), 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 0 auto auto 10px;
    z-index: 11;
}

#hamburger-menu-exit-button-phone {
    display:flex;
    position: relative;
    justify-content: center;
    background-color: var(--main-color);
    height:4em;
    aspect-ratio: 1/1 ;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.65), 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 10px 10px auto auto;
    z-index: 12;
}

#hamburger-menu-exit-button-phone img{
    display:flex;
    position: relative;
    aspect-ratio: 1/1 ;
    height:calc(100%);
    margin: 0 0 0 0;
}


/*Page banner*/

#top-banner {
    display:flex;
    justify-content: center;
    position: sticky;
    overflow: hidden;
    max-width: 100vw;
    height:27vw;
    background-color: var(--main-color);
    border-radius: 30px;
    top:10px;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.65), 4px 4px 10px rgba(0, 0, 0, 0.25);
    margin: 10px 10px auto 10px; 
    z-index: 1;
}

/*Navbar desktop devices*/

#Navbar {
    display:flex;
    position: sticky;
    justify-content: center;
    background-color: var(--main-color);
    min-height: 7vh;
    height: 70px;
    max-width: 100vw;
    margin: 10px 10px auto 10px; 
    border-radius: 70px;
    top: 10px;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.65), 4px 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 9;
}

#navbar-hamburger-menu-button{
    display:flex;
    position: relative;
    justify-content: center;
    background-color: var(--main-color);
    aspect-ratio: 1/1 ;
    height:calc(100% - 20px);
    margin-top:0;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.65), 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 100em;
    margin: auto 10px auto 10px;
    transition:ease-in-out;
}

#navbar-hamburger-menu-button:hover {
    background-color: var(--hover-color);
    cursor:pointer;
}

#navbar-hamburger-menu-button img{
    display: flex;
    position: relative;
    justify-content: center;
    aspect-ratio: 1/1;
    height: 100%;
    margin:auto;
    
}

.navbar-button{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    height:calc(100% - 20px);
    width: 200em;
    border-radius: 100em;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.65), 4px 4px 10px rgba(0, 0, 0, 0.25);
    margin: auto 10px auto 1%;
    font-size: 14px;
}

.navbar-button:hover {
    background-color: var(--hover-color);
    cursor:pointer;
}

.navbar-button p {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 0 auto 0 auto;  
}

/*Navbar Phone*/

#navbar-phone {
    display:flex;
    position: sticky;
    justify-content: center;
    background-color: #ffffff00;    
    min-height: calc(7vh + 20px);
    max-width: 100vw;
    top: 10px;
    margin: 0 0 -20px 0;
    z-index: 10;
}

#navbar-hamburger-menu-button-phone{
    display:flex;
    position: sticky;
    justify-content: center;
    height: calc(100%-7vh);
    width: 7vh;
    aspect-ratio: 1/1;
    border-radius: 3.5vh;
    background-color: var(--main-color);
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.65), 4px 4px 10px rgba(0, 0, 0, 0.25);
    margin: 10px 0 0 20px;
}

#navbar-hamburger-menu-button-phone img{
    display:flex;
    position: relative;
    height: 100%;
}

/*look of pressed navbar button*/

.navbar-button-pressed {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    height:calc(100% - 20px);
    width: 200em;
    border-radius: 100em;
    box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.65), inset 4px 4px 10px rgba(0, 0, 0, 0.25);
    margin: auto 10px auto 1%;
    font-size: 14px;
}

.navbar-button-pressed p {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 0 auto 0 auto;  
}

.navbar-button-pressed p:hover {
    cursor:default;
}

.hamburger-menu-button-pressed {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    height:7vh;
    max-height: 100px;
    width: 80%;
    border-radius: 100em;
    box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.65), inset 4px 4px 10px rgba(0, 0, 0, 0.25);
    margin: 2vh auto auto auto;
    font-size: 14px;
    z-index: 15;
}

.hamburger-menu-button-pressed p:hover {
    cursor:default;
}


/*Page*/

#page {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    position: relative;
    max-width: 100vw;
    min-height: 100vh;
    background-color: var(--main-color);
    border-radius: 30px;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.65), 4px 4px 10px rgba(0, 0, 0, 0.25);
    margin: 10px 10px auto 10px; 
    z-index: 1;
}

/*Page for 'Figma & CSS+Javascript' Tab (homepage) (button 1)*/

#introduction-figma {
    display:flex;
    justify-content: center;
    position: relative;
    width: 720px;
    max-width: 100vw - 20px;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 30px;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.65), 4px 4px 10px rgba(0, 0, 0, 0.25);
    margin: 10px 1% auto 1%; 
    z-index: 1;
}

#introduction-figma p {
    display:block;
    justify-content: center;
    position: relative;
    margin: 15px 20px 10px 15px;
}

.figma-project {
    display:flex;
    justify-content: center;
    position: relative;
    width:calc(100vw - 20px);
    height:100%;
    background-color: var(--main-color);
    border-radius: 30px;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.65), 4px 4px 10px rgba(0, 0, 0, 0.25);
    margin: 20px 10px 10px 10px; 
    z-index: 1;
}

/*Portfolio*/

#figma-project-1{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

#figma-project-1-picture {
    display:flex;
    justify-content: center;
    position: relative;
    height: 480px;
    max-height:calc((100vw - 60px)/4 * 3 + 24px);
    width: 720px;
    max-width: calc(100vw - 40px);
    background-color: var(--main-color);
    border-radius: 30px;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.65), 4px 4px 10px rgba(0, 0, 0, 0.25);
    margin: 10px 10px 20px 10px;
    z-index: 2;
}

#figma-project-1-picture img {
    position: flex;
    width: 684px;
    max-width: calc(100vw - 60px);
    max-height:calc((100vw - 60px)/4 * 3);
    height:456px;
    border-radius: 30px;
    margin-top: 12px;
}

#figma-project-1-description {
    display:flex;
    justify-content: center;
    position: relative;
    height: 200px;
    width:720px;
    max-width: calc(100vw - 40px);
    background-color: var(--main-color);
    border-radius: 30px;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.65), 4px 4px 10px rgba(0, 0, 0, 0.25);
    margin: 10px 10px 10px 10px;
    z-index: 2;
}

#figma-project-1-link{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 720px;
    max-width: calc(100vw - 40px);
    height:200px;
    margin: 10px 10px 20px 10px;
}

#figma-project-1-link-button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    height:60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.65), 4px 4px 10px rgba(0, 0, 0, 0.25);
    margin: 70px auto 10px calc(50% - 30px);
    font-size: 14px;
}

#figma-project-1-link-button:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

#figma-project-1-link-text{
    display: flex;
    position: relative;
    justify-content: center;
}

#figma-project-1-stylecard {
    display:flex;
    justify-content: center;
    position: relative;
    height: 480px;
    width: 720px;
    max-width: calc(100vw - 40px);
    background-color: var(--main-color);
    border-radius: 30px;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.65), 4px 4px 10px rgba(0, 0, 0, 0.25);
    margin: 10px 10px 10px 10px;
    z-index: 2;
}

/*Gameboy Konzept*/

#figma-project-2{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

#figma-project-2-picture {
    display:flex;
    justify-content: center;
    position: relative;
    height: 480px;
    width: 720px;
    max-width: calc(100vw - 40px);
    background-color: var(--main-color);
    border-radius: 30px;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.65), 4px 4px 10px rgba(0, 0, 0, 0.25);
    margin: 10px 10px 20px 10px;
    z-index: 2;
}

#figma-project-2-description {
    display:flex;
    justify-content: center;
    position: relative;
    height: 200px;
    width:720px;
    max-width: calc(100vw - 40px);
    max-width: calc(100vw - 20px);
    background-color: var(--main-color);
    border-radius: 30px;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.65), 4px 4px 10px rgba(0, 0, 0, 0.25);
    margin: 10px 10px 10px 10px;
    z-index: 2;
}

#figma-project-2-link{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 720px;
    max-width: calc(100vw - 40px);
    height:200px;
    margin: 10px 10px 20px 10px;
}

#figma-project-2-link-button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    height:60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.65), 4px 4px 10px rgba(0, 0, 0, 0.25);
    margin: 70px auto 10px calc(50% - 30px);
    font-size: 14px;
}

#figma-project-2-link-button:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

#figma-project-2-link-text{
    display: flex;
    position: relative;
    justify-content: center;
}

#figma-project-2-stylecard {
    display:flex;
    justify-content: center;
    position: relative;
    height: 480px;
    width: 720px;
    max-width: calc(100vw - 40px);
    background-color: var(--main-color);
    border-radius: 30px;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.65), 4px 4px 10px rgba(0, 0, 0, 0.25);
    margin: 10px 10px 10px 10px;
    z-index: 2;
}


/*Page for 'Adobe Illustrator' Tab (button 2)*/

/*Page for 'Zeichnungen' Tab (button 3)*/

/*Page for 'Pixelart' Tab (button 4)*/

/*Page for 'Sonstiges' Tab A(button 5)*/
